h1 {
    text-align: center;
    background-color: #f1faee;
    border: solid 5px #faedcd ;
    margin-left: 25%;
    margin-right: 25%;
}

#ul1 {
    background-color: #f1faee;
    border: solid 5px #faedcd ;
    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-around;
    padding: 10px;
    
}

#divEx {
    text-align: center;
    background-color: #f1faee;
    border: solid 5px #faedcd ;
    margin-left: 25%;
    margin-right: 25%;
}
.row {
    border: solid 2px black;
    margin: 5px;
    padding: 2px;
}

body {
    background-color: #e9edc9;
}

.nav {
    padding: 5px;
    text-align:justify;
    
}